.maze-image{
    width: 730px;
    /* height: 1000px; */
    /* border: 2px solid white; */
    /* background-color: green; */
}

.maze-tile{
    display: inline-block;
    width: 34px;
    height: 34px;
    background-color: white;
    float: left;
    vertical-align: top;
    border: solid 10px white;
    /* border: 2px solid black;   */
}

.maze-row-line{
    height: 26px;
    display: block;
    width:  100%;
    /* background-color: red; */
    /* vertical-align: top; */
    /* display: block !important; */
}

/* 
X X X
X   W
X W W */
.maze-tile .top-left{
    border-width: 2px 0px 0px 2px;
}